.nav {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 5%;
    right: 0%; 
    width: 50%;
}

.nav input {
    margin-right: 1rem;
}

.recipeContainer {
    display: flex;
    margin: 0.5rem;
    height: 85vh;
}

.recipeContainer > div {
    margin: 1rem;
    overflow-x: scroll;
    background-color: #F8F8F8;
    border-radius: 0.5rem;
}

.recipes {
    display: flex;
    flex-flow: row wrap;
    background-color: green;
    text-align: center;
    padding: 1.5rem;
}

.recipes > div,{
    margin: 0 auto;
}

.recipes img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.recipe {
    padding: 1.5rem;
}

.recipe div {
    margin: 0 auto;
}

.recipeEmpty{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.recipeName{
    display: flex;
    justify-content: space-between;
}

.recipeName input{
    margin: 0 1rem 0 0;
}
.recipeName button{
    width: 10rem;
}

.ingredientsGroup {
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
    background-color: white;
}